<div class="mx-auto py-md-5" style="width: 200px;">
    <h2>Login</h2>
</div>
<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mx-auto w-25 px-md-5 py-md-5">
        <div class="form-group">
            <label for="username">Login</label>
            <input type="text" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Login is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
            <a routerLink="/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>