<div>
    <h3>Hi {{user.name}}!</h3>
</div>
<div class="mx-auto" style="width: 500px;">
    <h5>List of Your appoitments</h5>
</div>
<div class="mx-auto w-75">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    <div>
        <a class="mr-md-2" routerLink="/appointment">
            <button type="button" class="btn btn-success mr-md-2">Add New Appointment</button>
        </a>
        <button type="button" class="btn btn-success mr-md-2">Change Data</button>
    </div>
</div>

